*.lnk
*.ini
*.ini_old
*.log
*.msi
VideoDownloader.exe
.vscode/
VideoDownloader/
compiler/currentVersion.txt
compiler/*.zip
compiler/*.autosave.aip
compiler/*.back*.aip
compiler/VideoDownloaderInstaller-cache/
library/assets/ffmpeg/
library/assets/yt-dlp/